<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="2653Dialectek.Blackguard" Publisher="CN=564406A5-D081-4774-AE63-CC706F064A0E" Version="1.2.0.1" />
  <Properties>
    <DisplayName>Blackguard</DisplayName>
    <PublisherDisplayName>Dialectek</PublisherDisplayName>
    <Logo>Assets\icons\medium_logo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3</OSMinVersion>
    <OSMaxVersionTested>6.3</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Blackguard.App">
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
      <m2:VisualElements DisplayName="Blackguard" Description="The game of Blackguard" BackgroundColor="#00b2f0" ForegroundText="light" Square150x150Logo="Assets\icons\large_logo.png" Square30x30Logo="Assets\icons\small_logo.png">
        <m2:DefaultTile ShortName="Blackguard">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen BackgroundColor="#2879ed" Image="Assets\icons\splash.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>